
.modal-content {
  width: 375px!important;
  margin: auto;
  padding: 25px;
  border-radius: 25px;
  border: none!important;
  height: 90vh;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.brand-div {
  text-align: center;
  height: 50px;
}

.header-nav {
  background-color: #000 !important;
  margin-bottom: 85px;
}

.sid-logo {
  max-height: 100px;
  position: absolute;
  top: 10px;
  left: 33%;
  padding: 10px;
  background:
  #eee;
}

.bottom-10 {
  margin-bottom: 10px;
}

.footer-text {
  font-size: 10px;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff!important;
  cursor: pointer;
}

.a-span {
  cursor: pointer;
  color: #0000EE;
}